.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 20px;
  background: #18181b;
  border: 2px solid rgba(255, 255, 255, 0.16);
  border-radius: 8px;
}

.nameRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: #ffffff;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.dateTimeInfo {
  display: flex;
  gap: 8px;
}

.infoText {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.7);
}

.tags {
  display: flex;
  gap: 8px;
}

.tag {
  padding: 2px 6px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.7);
}

