.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  background: linear-gradient(180deg, #0c1220 0%, #2e1431 100%);
}

.main {
  flex: 1;
}

.ctaSpacer {
  height: 100px;
}

@supports (min-height: 100svh) {
  .page {
    min-height: 100svh;
  }
}
