.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 24px;
  background: transparent;
  border-top: 1px solid #ffccd9;
  border-bottom: 1px solid #ffccd9;
}

.warningBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  background: #fb7194;
}

.warningText {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.19;
    color: #ffffff;
}

.disclaimerText {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
    margin-top: 18px;
}
